* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 10px;
}

tooltip {
    color: #ffffff;
    background: #282828;
    opacity: 1;
}

#window {
    margin-left: 4px;
    padding-left: 5px;
}

#workspaces {
  font-size: 12px;
}

#workspaces button {
    color: white;
}

#workspaces button.active {
    color: #ffffff;
    background-color: rgba(29, 32, 33, 0.2);
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #9e1616;
}

#custom-discord, #power-profiles-daemon {
    margin-right: 5px;
}

#backlight, #battery, #pulseaudio, #custom-obsidian {
    margin-right: 3px;
}

#battery, #tray {
    margin-bottom: 10px;
}

#battery.warning {
    color: rgb(255, 225, 91);
}

#battery.critical {
    color: rgb(202, 0, 0);
}

#tray {
    margin-left: 3px;
}

#custom-chrome,
#custom-file,
#custom-terminal,
#custom-vscode,
#custom-toolbox,
#custom-discord,
#custom-obsidian {
    padding-top: 6px;
}


#pulseaudio,
#backlight,
#power-profiles-daemon,
#battery,
#clock,
#tray {
    padding: 5px;
    opacity: 1;
}

#custom-lock,
#custom-poweroff,
#custom-notificationCenter {
    padding-bottom: 15px;
}

#custom-chrome {
    color: rgb(255, 106, 106);
}

#custom-file {
    color: rgb(226, 18, 164);
}

#custom-terminal {
    color: rgb(88, 255, 66);
}

#custom-vscode {
    color: rgb(18, 161, 204);
}

#custom-toolbox {
    color: rgb(218, 33, 33);
}

#custom-discord {
    color: rgb(48, 89, 223);
}

#custom-obsidian {
    color: rgb(170, 21, 170);
}